body{
    background: #f0f3f5;
    color: #fff;
}
header{
    background: #9aca40;
    padding: 20px;
    margin: 20px 0;
}
.contendor-main{
    margin-bottom: 20px;
}
main{
    background: #fff;
    color: #424242;
    padding: 20px 0;
}
aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #8d47a1;
}
.color-fondo{
    color: salmon;
    text-align: justify;
}
button{
    text-decoration: none;
    color: #2196f3;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border-color: salmon;
    border-width: 4px;
    border-style: solid;
    border-radius: 20px;
    margin-top: 50px;
}
 img{
    height: 300px;
    width: 300;
    display: block;
    margin: auto;
 }
.space{
    margin-bottom: 20px;
}
.widgets{
    margin-bottom: 20px;
}

.widgets > div{
    background: #2196f3;
    color: #fff;
    padding: 20px;
}
footer{
    padding: 20px 0;
    margin-bottom: 20px;
    background: #1e1e1e;
}
